{% extends 'base.html' %}
{% block content %}
{% if menssagem %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>coleta Realizada com sucesso!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<main role="main" class="container">
    <div class="jumbotron">
        <h1 class="text-center">Coleta de dados do site distrowatch </h1>
        <p class="lead text-center">Coleta para analise</p>
        <p>Tempo Execução: {{tempoExec}}</p>
        <p>Site base coleta :<a href="https://distrowatch.com/dwres.php?resource=popularity" target="_blanck">https://distrowatch.com/dwres.php?resource=popularity</a></p>
    </div>
    <div class="container">
        <canvas id="productsChart" width="300" height="100"></canvas>
        <br><br>
        <canvas id="productsChartline" width="300" height="100"></canvas>
        <br><br>
        <canvas id="productsCharthorizontalBar" width="300" height="100"></canvas>

    </div>
</main>
<script>
    var ctx = document.getElementById("productsChart");
    var names = JSON.parse('{{ names|safe }}');
    var acesso12 = JSON.parse('{{ acesso12|safe }}');
    var acesso6 = JSON.parse('{{ acesso6|safe }}');
    var acesso3 = JSON.parse('{{ acesso3|safe }}');
    var acesso1 = JSON.parse('{{ acesso1|safe }}');
    console.log(acesso12);
    var productsChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: names,
            datasets: [{
                label: 'Últimos 12 meses',
                data: acesso12,
                backgroundColor: '#ff6384',
                borderColor:'#ff6384',
                borderWidth: 1,
                fill: false,
            }, {
                label: 'Últimos 6 meses',
                data: acesso6,
                backgroundColor: '#36a2eb',
                borderColor:'#36a2eb',
                borderWidth: 1,
                fill: false,
            }, {
                label: 'Últimos 3 meses',
                data: acesso3,
                backgroundColor: '#cc65fe',
                borderColor:'#cc65fe',
                borderWidth: 1,
                fill: false,
            }, {
                label: 'Últimos 1 meses',
                data: acesso1,
                backgroundColor: '#ffce56',
                borderColor:'#ffce56',
                borderWidth: 1,
                fill: false,
            }],
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Gráfico de Barras'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Nomes das distros'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Qtd. acessos'
                    }
                }]
            },
            legend: {
                labels: {
                    // This more specific font property overrides the global property
                    fontColor: 'black'
                }
            }
        }
    });
</script>


<script>
    var ctx = document.getElementById("productsChartline");
    var names = JSON.parse('{{ names|safe }}');
    var acesso12 = JSON.parse('{{ acesso12|safe }}');
    var acesso6 = JSON.parse('{{ acesso6|safe }}');
    var acesso3 = JSON.parse('{{ acesso3|safe }}');
    var acesso1 = JSON.parse('{{ acesso1|safe }}');
    console.log(acesso12);
    var productsChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: names,
            datasets: [{
                label: 'Últimos 12 meses',
                data: acesso12,
                backgroundColor: '#ff6384',
                borderColor:'#ff6384',
                borderWidth: 2,
                fill: false,
            }, {
                label: 'Últimos 6 meses',
                data: acesso6,
                backgroundColor: '#36a2eb',
                borderColor:'#36a2eb',
                borderWidth: 2,
                fill: false,
            }, {
                label: 'Últimos 3 meses',
                data: acesso3,
                backgroundColor: '#cc65fe',
                borderColor:'#cc65fe',
                borderWidth: 2,
                fill: false,
            }, {
                label: 'Últimos 1 meses',
                data: acesso1,
                backgroundColor: '#ffce56',
                borderColor:'#ffce56',
                borderWidth: 2,
                fill: false,
            }],
            
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Gráfico de linhas'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Nomes das distros'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Qtd. acessos'
                    }
                }]
            },
            legend: {
                labels: {
                    // This more specific font property overrides the global property
                    fontColor: 'black'
                }
            }
        }
    });
</script>

<script>
    var ctx = document.getElementById("productsCharthorizontalBar");
    var names = JSON.parse('{{ names|safe }}');
    var acesso12 = JSON.parse('{{ acesso12|safe }}');
    var acesso6 = JSON.parse('{{ acesso6|safe }}');
    var acesso3 = JSON.parse('{{ acesso3|safe }}');
    var acesso1 = JSON.parse('{{ acesso1|safe }}');
    console.log(acesso12);
    var productsChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: names,
            datasets: [{
                label: 'Últimos 12 meses',
                data: acesso12,
                backgroundColor: '#ff6384',
                borderColor:'#ff6384',
                borderWidth: 1,
                fill: false,
            }, {
                label: 'Últimos 6 meses',
                data: acesso6,
                backgroundColor: '#36a2eb',
                borderColor:'#36a2eb',
                borderWidth: 1,
                fill: false,
            }, {
                label: 'Últimos 3 meses',
                data: acesso3,
                backgroundColor: '#cc65fe',
                borderColor:'#cc65fe',
                borderWidth: 1,
                fill: false,
            }, {
                label: 'Últimos 1 meses',
                data: acesso1,
                backgroundColor: '#ffce56',
                borderColor:'#ffce56',
                borderWidth: 1,
                fill: false,
            }],
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Gráfico de Horizontal'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Qtd. acessos'
                        
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Nomes das distros'
                    }
                }]
            },
            legend: {
                labels: {
                    // This more specific font property overrides the global property
                    fontColor: 'black'
                }
            }
        }
    });
</script>

{% endblock content %}